@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}

:root {
    --tw-gradient-from: currentColor;
    --tw-gradient-to: hsl(192, 70%, 51%)    ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

svg {
    color: white
}

#box {
    box-shadow: 10px 10px 166px 143px rgba(45,49,77,0.75);
    -webkit-box-shadow: 10px 10px 166px 143px rgba(45,49,77,0.75);
    -moz-box-shadow: 10px 10px 166px 143px rgba(45,49,77,0.75);
}